﻿@model MVCEventManagement.Models.User

<style>
    table, th, td {
        padding:15px;
    }
</style>

<div>
    <h4>Submitted Applications</h4>
    <hr />
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>&nbsp;&nbsp;&nbsp;
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>&nbsp;&nbsp;&nbsp;
                <th>
                    @Html.DisplayNameFor(model => model.Progress)
                </th>&nbsp;&nbsp;&nbsp;
                <th>
                    @Html.DisplayNameFor(model => model.DownloadApplication)
                </th>&nbsp;&nbsp;&nbsp;
                <th>
                    @Html.DisplayNameFor(model => model.AcceptReject)
                </th>&nbsp;&nbsp;&nbsp;
                <th>
                    @Html.DisplayNameFor(model => model.Attendance)
                </th>
            </tr>
            <tr>
                <td>
                    @ViewBag.FirstName
                </td>&nbsp;&nbsp;&nbsp;
                <td>
                    @ViewBag.LastName
                </td>&nbsp;&nbsp;&nbsp;
                <td>
                    @ViewBag.Progress
                </td>&nbsp;&nbsp;&nbsp;
                <td>
                    @ViewBag.DownloadApplication
                </td>&nbsp;&nbsp;&nbsp;
                <td>
                    @ViewBag.AcceptReject
                </td>&nbsp;&nbsp;&nbsp;
                <td>
                    @ViewBag.Attendance
                </td>&nbsp;&nbsp;&nbsp;
            </tr>         
        </table>

      

      
</div>
<p>|
    @Html.ActionLink("More", "Index")
</p>
