﻿@model IEnumerable<MVCEventManagement.Models.User>
    public NullReferenceException()

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            model => model.Id
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DownloadApplication)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptReject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendance)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadApplication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptReject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendance)
            </td>
        </tr>
    }

</table>
