﻿@model MVCEventManagement.Models.CreateEventModel

    
    @using (Ajax.BeginForm("EventDetails", "Form", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "formupdatecontainer", InsertionMode = InsertionMode.Replace }))
    {
        @Html.ValidationSummary();
        <label>@Html.RadioButton("Active", true) Create New Event</label>
        <div class="form-group">
            @Html.LabelFor(model => model.EventName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EventName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EventName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EventID, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EventID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EventDate, new { @class = "form-control" })
                @*@Html.EditorFor(m=>m.EventDate, new { htmlAttributes = new { @class= "form-control", placeholder="Select the date",@readonly="true" } })*@
                @Html.ValidationMessageFor(m => m.EventDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <label>@Html.RadioButton("Active", true) Create new event from an existing event</label>
            <div class="form-group">
                @Html.Label("")
                <div class="col-md-10">
                    @Html.DropDownList("Previous Apps", new List<SelectListItem> { new SelectListItem() { Text = "App1", Value = "App1" }, new SelectListItem() { Text = "App2", Value = "App2" }, new SelectListItem() { Text = "App3", Value = "App3" }},"choose")
                </div>
            </div>
                <div class="form-group">                   
                    @Html.LabelFor(model => model.EventName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EventName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EventName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EventID, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EventID, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EventID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EventDate, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EventDate, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EventDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                <label>@Html.RadioButton("Active", true) Continue an existing event</label>
                <div class="form-group">
                    @Html.Label("")
                    <div class="col-md-10">
                        @Html.DropDownList("Previous Apps", new List<SelectListItem> { new SelectListItem() { Text = "App1", Value = "App1" }, new SelectListItem() { Text = "App2", Value = "App2" }, new SelectListItem() { Text = "App3", Value = "App3" } }, "choose")
                    </div>
                </div>
            </div>
        <p>
            <input type="button" value="Back" class="btn btn-default" />
            <input type="submit" value="Next" class="btn btn-default" />
        </p>
    }
@section scripts{    
    @Scripts.Render("~/bundles/jqueryui")

    <script src="~/Scripts/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            alert('document is ready');
         $('input[type=datetime]').datepicker({
             dateFormat: "dd/M/yy",
             changeMonth: true,
             changeYear: true,
             yearRange: "-60:+0"
         });
         alert('datepicker is ended');
     });
    </script>   
    }
