﻿@model MVCEventManagement.Models.CreateApplicationModel

<h4>Create Application</h4>
@using (Ajax.BeginForm("ApplicationBuilder", "Form", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "formupdatecontainer", InsertionMode = InsertionMode.Replace}))
{
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(model => model.ApplicationName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ApplicationName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ApplicationName, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EventID, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EventID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ExpirationDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ExpirationDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ExpirationDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ApprovalNeeded, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @foreach (var item in Model.inputs)
                {<div>
                    @Html.RadioButtonFor(m => m.ApprovalNeeded, item)
                    @Html.Label(item)
                </div>
                }
                
                @*@Html.TextBoxFor(m => m.ApprovalNeeded, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ApprovalNeeded, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <p>
            <input type="button" value="Back" class="btn btn-default" />
            <input type="submit" value="Next" class="btn btn-default" />
        </p>
}