﻿@model MVCEventManagement.Models.MyEventsModels

@{
    ViewBag.Title = "MyEvents";
}

@*<h2>MyEvents</h2>*@
@{
//var grid = new WebGrid(Model, canPage: true, rowsPerPage: 2,selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent");   
//grid.Pager(WebGridPagerModes.NextPrevious);
}

<style type="text/css">
    .webGrid {
        margin: 4px;
        border: 1px solid #000000;
        border-collapse: collapse;
        width: 500px;
        background-color: #fffcf9;
    }

    .header {
        background-color: #a4302a;
        font-weight: bold;
        color: #fffcf9;
    }

    .webGrid th {
        background-color: #c43a31;
        border: 1px solid #000000;
        padding: 5px;
        color: #ffffff;
    }




    .webGrid td {
        background-color: #ffffff;
        border: 1px solid #000000;
        padding: 5px;
        color: #000000;
    }

    .alt {
        background-color: #ffffff;
        color: #000;
    }

    .gridHead a:hover {
        text-decoration: underline;
    }

    .description {
        width: auto;
    }
</style>
@if (Model == null) {
<h1>Your list is empty</h1>
}
else
{ <h1>Your list is empty</h1>}

<div id="gridContent">
    @*@grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header",
            alternatingRowStyle: "alt",
            selectedRowStyle: "select",
            columns: grid.Columns(
            grid.Column("EventName", "EventName"), //format: (item) => item.GetSelectLink(item.EventName)),
            grid.Column("IsActive", " IsActive"),
            grid.Column("Submissions", "Submissions"),
            grid.Column("EventDetails", "EventDetails"), //format: (item) => item.GetSelectLink(item.EventDetails)),
            grid.Column("CustomEmails", "CustomEmails"), //(item) => item.GetSelectLink(item.CustomEmails)),
            grid.Column("ApprovalsNeeded", "Approvals Needed")

     ))*@
</div>
<p>
    @*@Html.ActionLink("Back", "Login")*@
</p>