﻿

@model MVCEventManagement.Models.NotificationsModel

{
@Html.ValidationSummary();
<div class="form-group">
    @Html.Label("EventID", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.Label("Event ID displayed here")
    </div>
</div>
<div class="form-group">

    <div class="col-md-10">

    </div>
</div>
<div class="form-group">

    <div class="col-md-10">

    </div>
</div>
<div class="form-group">

    <div class="col-md-10">

    </div>
</div>
<p>
    <input type="button" value="Back" class="btn btn-default" />
    <input type="submit" value="Next" class="btn btn-default" />
</p>
}
