﻿@model MVCEventManagement.Models.CreateApplicationModel

<h4>Application Builder</h4>
@using (Ajax.BeginForm("Notification", "Form", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "formupdatecontainer", InsertionMode = InsertionMode.Replace }))
{
    <head>
        <link href="~/Content/Formcss/demo.css" rel="stylesheet" />
        <link href="~/Content/Formcss/form-builder.css" rel="stylesheet" />
        <link href="~/Content/Formcss/form-render.css" rel="stylesheet" />
    </head>
    <div class="content">
        <div class="build-wrap"></div>
        <div class="render-wrap"></div>

        <div>
            <button id="edit-form" class="btn btn-primary active">Edit Form</button>
            <button id="btnsave" class="btn btn-secondary">Save</button>
            <input type="hidden" id="hdnfield" />
        </div>
        <p>
            <input type="button" value="Back" class="btn btn-default" />
            <input type="submit" value="Next" class="btn btn-default" />
        </p>
    </div>
            <script src="~/Scripts/jquery-3.1.1.js"></script>
            <script src="~/Scripts/jquery-ui.js"></script>
            <script type="text/javascript" src="~/Scripts/Formbuilder/form-render.js"></script>
            <script type="text/javascript" src="~/Scripts/Formbuilder/utils.js"></script>
            <script type="text/javascript" src="~/Scripts/Formbuilder/polyfills.js"></script>
            <script type="text/javascript" src="~/Scripts/Formbuilder/kc-toggle.js"></script>
            <script type="text/javascript" src="~/Scripts/Formbuilder/helpers.js"></script>
            <script type="text/javascript" src="~/Scripts/Formbuilder/form-builder.js"></script>
            <script type="text/javascript" src="~/Scripts/Formbuilder/demo.js"></script>
            <script type="text/javascript" src="~/Scripts/Formbuilder/events.js"></script>
            <script>
                $(function () {
                        $("#btnsave").click(function () {
                        var temp = JSON.stringify({ 'inputs': $("#hdnfield").val() });
                        $.ajax({
                            url: "Form/Save",
                            type:"POST",
                            data: temp,
                            contentType: "application/json; charset=utf-8",
                        success: function(){alert('Form successfully submitted');},
                        error: function(e){alert('this is error')},
                            });
                        });
                    });
            </script>
            
}
