﻿@model MVCEventManagement.Models.EventDetailsModel

  @using (Ajax.BeginForm("CreateApplication", "Form", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "formupdatecontainer", InsertionMode = InsertionMode.Replace }))
  {
    @Html.ValidationSummary();
 
    <p>
        <input type="submit" value="More" class="btn btn-default" />
    </p>
  }