﻿@model MVCEventManagement.Models.FormModel
@{
    ViewBag.Title = "Index";
}
    <!-- Tab Buttons -->
    <ul id="tabstrip" class="nav nav-pills" role="tablist">     
        <li class="active"><a href="#_MyEvents" role="tab" data-toggle="tab">My Events</a></li>
        <li><a href="@Url.Action("CreateNewEvent", "Form")" data-ajax="true" data-ajax-update="#formupdatecontainer">Create New Event</a></li>
    </ul>

    <div id="formupdatecontainer">
        @Html.Action("MyEvents", "Form")
    </div>
    <!-- Tab Content Containers -->
    @*<div class="tab-content">
         <div class="tab-pane fade in active" id="_MyEvents">@Html.Partial("_MyEvents", Model._MyEvents)</div>
         <div class="tab-pane fade" id="_CreateNewEvent">@Html.Partial("_CreateNewEvent", Model._CreateEvent)</div>
    </div>*@
    
@*@section scripts {
    
    <script>
    $('#tabstrip a').click(function (e) {
        console.log('im here');
   e.preventDefault()
   var tabID = $(this).attr("href").substr(1);
   debugger;
   $(".tab-pane").each(function () {
       $(this).empty();
   });
   $.ajax({
        url: "@Url.Action("MyEvents", "Form")",
        cache: false,
        type: "get",
        dataType: "html",
        success: function (result) {
            console.log(result);
            $("#formupdatecontainer").html(result);
        }
    });
   $(this).tab('show')
});
</script>
    }*@




