﻿@model MVCEventManagement.Models.NotificationsModel

<div>
    <h2>Notifications</h2>
    <h4>Select which notifications to turn on</h4>
    <h3>ADMINISTRATOR NOTIFICATIONS</h3>
    <div style="margin-left:2%">
        @Html.Label("Receive an email when a user submits a registration application")
        <br />
        @Html.EditorFor(model => model.acceptanceEmail, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = @Html.DisplayNameFor(m => m.acceptanceEmail) } })
    </div>    
    <div style="margin-left:2%">
        @Html.Label("Receive an email when a user accepts an offer to join the event")
        <br />
        @Html.EditorFor(model => model.rejectionEmail, new { htmlAttributes =new{ @class = "form-control input-lg", placeholder = @Html.DisplayNameFor(m => m.rejectionEmail)}})
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
