﻿@model MVCEventManagement.Models.MyEventsModels
@{
    ViewBag.Title = "CreateEvent";
}
<h2>CreateEvent</h2>

@using (Html.BeginForm())
{
    <div id="createEvent ">
        @Html.RadioButton("Active", "true")Create a new Event
        <div>
            Title:@Html.TextBox("TITLE", "")<br>
            EventID:@Html.TextBox("Event", "")<br>
            DATE :@Html.EditorFor(item => item.EventDate)<br>
        </div>

    </div>
    <div id="Copy">
      @Html.RadioButton("Active", "false", "true") Create a new event by copying an old event <br>
        <p>
            Choose from the list of previous events @Html.DropDownList("Old Applications", new List<SelectListItem>()
              {
               new SelectListItem() { Text= "PDC_APPLICATION", Value = "PDC_Application" },
               new SelectListItem() { Text= "RROC_Application", Value = "rroc_application", Selected = true },
               new SelectListItem() { Text= "MTC presurvey", Value = "MTC_PRESURVEY", Selected = true }
               }, "Select ...")
            <br>
            Title:@Html.TextBox("TITLE1", "")<br>
            EventID:@Html.TextBox("EVENTID1", "")<br>
            DATE :@Html.EditorFor(item => item.EventDate)<br>
        </p>
    </div>
    <div id="continue">
        @Html.RadioButton("Active", "false", "true")Continue editing a created event
        <p>
            choose from the list of saved events @Html.DropDownList("Old Applications", new List<SelectListItem>()
             {
               new SelectListItem() { Text= "NEW_Event_name", Value = "PDC_Application" },
               new SelectListItem() { Text= "No saved events", Value = "rroc_application", Selected = true }
               }, "Select ...")
            <br>
        </p>
    </div>
    <p>
        @Html.ActionLink("Back", "Login")   @Html.ActionLink("Next", "CreateApplication")
    </p>
}