﻿
@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>
<h2>ADMINISTRATOR NOTIFICATIONS</h2>
<p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Cancel &raquo;</a>
    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Save &raquo;</a>
    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Next &raquo;</a>
</p>
<h3>Select which notifications to turn on</h3>
@Html.Label("Receive an email when a user submits a registration application")&nbsp;
@Html.TextArea("Description", "Sample email text Placeholder", new { @class = "form-control" })
<br /><br />
@Html.Label("Receive an email when a user accepts an offer to join the event")&nbsp;
@Html.TextArea("Description", "Sample email text Placeholder", new { @class = "form-control" })
<br /><br />

<h2>USER NOTIFICATIONS</h2>
@Html.Label("Send the user a confirmation email for submitting application")&nbsp;
@Html.TextArea("Description", "Sample email text Placeholder", new { @class = "form-control" })
<br /><br />
@Html.Label("Send the user an automated acceptance email")&nbsp;
@Html.TextArea("Description", "Sample email text Placeholder", new { @class = "form-control" })
<br /><br />
@Html.Label("Send the user an automated rejection email")&nbsp;
@Html.TextArea("Description", "Sample email text Placeholder", new { @class = "form-control" })
<br /><br />
@Html.Label("Send the user an automated recommendation email")&nbsp;
@Html.TextArea("Description", "Sample email text Placeholder", new { @class = "form-control" })
<br /><br />
@Html.Label("Send the user an automated  email with Event Details")&nbsp;
@Html.TextArea("Description", "Sample email text Placeholder", new { @class = "form-control" })
<br /><br />
@Html.Label("Send the user a reminder email to complete the application")&nbsp;
@Html.TextArea("Description", "Sample email text Placeholder", new { @class = "form-control" })
<br /><br />
<p>
    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Cancel &raquo;</a>
    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Save &raquo;</a>
    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Next &raquo;</a>
</p>
